* {
  font-family: 'Open Sans', sans-serif;
}
/* wrapper */
.wrapper {
  height: 100vh;
  width: 1440px;
  margin: 0 auto;
}
/* main */
main {
  padding-top: 80px;
  background: url(../assets/your_verse_hero.jpg) 50% 100% no-repeat;
  background-size: 1440px 1315px;
  height: 585px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

nav {
  width: 1000px;
  height: 35px;
  margin: 0 auto;
  display: flex;
  border-radius: 5px;
  /* add gradient here */
  background-image: linear-gradient(to bottom, #777, #555, #777);
  overflow: hidden;
}

nav > a {
  flex: 1;
  display: grid;
  place-items: center;
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: bold;
  border-right: 1px solid #444;
}

nav > a:last-child {
  border: none;
}

nav > a:hover {
  background-image: linear-gradient(to bottom, #555, #333, #555);
}

.apple-logo {
  width: 17px;
}

main > h1 {
  font-size: 70px;
  margin-top: 50px;
  font-family: 'Open Sans Condensed', sans-serif;
}

main > h2 {
  font-size: 36px;
  width: 700px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 1.3;
  padding: 25px 0;
}

main > h3 {
  font-size: 20px;
}
/* secondary */
.secondary {
  display: flex;
}

.item {
  flex: 1;
  height: 200px;
}

img {
  width: 100%;
  height: auto;
}
/* footer */
footer {
  height: 80px;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  color: #444;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.footer-item {
  width: 500px;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.footer-item:last-child {
  align-items: flex-start;
}

a {
  color: #0179be;
  padding: 0 3px;
}